{% extends "layout.twig" %}

{% block content %}

    <form id="add" action="{{ path('add') }}">
        <div class="row collapse">
            <div class="small-11 columns">
                <input type="text" name="name" placeholder="New Task" />
            </div>
            <div class="small-1 columns">
                <input type="submit" class="button prefix secondary" value="+" />
            </div>
        </div>
    </form>

    <form class="custom">
        <input type="hidden" value="{{ url('delete') }}" id="delete-url"/>
        <input type="hidden" value="{{ url('mark') }}" id="mark-url"/>
        <div class="list">
            {% for task in tasks %}
                <div class="task">
                    <input type="hidden" name="id" value="{{ task.id }}" />
                    <div class="row item">
                        <div class="small-10 columns">
                            <label for="task-{{ task.id }}">
                                <input type="checkbox" class="hide" id="task-{{ task.id }}" value="{{ task.id }}" />
                                <span class="custom checkbox"></span>
                                <span>{{ task.name|e }}</span>
                            </label>
                        </div>
                        <div class="small-2 columns actions">
                            <i class="foundicon-checkmark" style="display:none"></i>
                            <a href="#update-task" class="update"><i data-tooltip class="foundicon-edit has-tip tip-top" title="Edit Task"></i></a>
                            <a href="#delete-task" class="delete"><i data-tooltip class="foundicon-remove has-tip tip-top" title="Remove Task"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>

{% endblock %}